.card__image {
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: var(--tg-theme-secondary-bg-color);
    }
}

.card__title-container {
    width: 100%;
}

.card__title {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
