.profile_avatar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    -moz-user-select: none;
    user-select: none;
}

.username {
    margin-top: 15px;
}

.commission_section__container {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

.commission_section__list {
    border-radius: 16px;
    margin: 5px 16px;
    position: relative;
    margin-top: 10px;
}

.commission_section__progress_container {
    margin: 0 auto;
}

.commission_section__progress {
    height: 5px;
    border-radius: 5px;
}

.commission_section__progress_text {
    margin-bottom: 10px;
}

.how_to_reduce_commission__text {
	position: relative;
    font-size: 14px;
    color: var(--tg-theme-link-color);
    line-height: 1;
	text-decoration: none;
}

.commission_section__headline {
    margin-left: 16px;
    color: var(--tg-theme-hint-color);
}

.avatar {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}