.withdraw-page__container {
    padding: 10px 20px;
}

.withdraw-page__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.withdraw-page__title {
    text-align: center;
}

.payment-systems-section__container {
    padding-top: 30px;
}
