.payment-system-card {
    min-width: 360px;
    min-height: 60px;
    border-radius: 15px;
    background-color: var(--tg-theme-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tappable-payment-system {
    border-radius: 15px;
}