.post_feedback__image {
    visibility: hidden;
    position: relative;
}

.post_feedback__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}