.details_image {
    visibility: hidden;
    width: 137px;
    height: 170px;
    position: relative;
}

.details_empty_image {
    visibility: hidden;
    position: relative;
}

.payment_details_empty__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.payment_details_placeholder {
    margin-top: 15px;
}

.introducing_content__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details_divider__container {
    margin-top: 50px;
}

.details_modal {
    background-color: var(--tg-theme-bg-color);
}

.details_modal_close {
    margin-left: auto;
}

.details_modal_placeholder {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    width: 85%;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
}

.details_modal_close {
    margin-left: auto;
    position: absolute;
    right: 16px;
    top: 16px;
}

.details_modal_close:hover {
    cursor: pointer;
}

.details_modal__main_button {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    margin: 0;
    padding: 12px 16px;
    background-color: #2990FF;
}

.details_modal_content__container {
    gap: 15px;
}

.details_modal_divider {
    color: var(--tg-theme-hint-color);
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.details__button {
    background-color: #2990FF;
}