.details_image {
    visibility: hidden;
    width: 137px;
    height: 170px;
    position: relative;
}

.details_empty_image {
    visibility: hidden;
    position: relative;
}

.payment_details_empty__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.payment_details_placeholder {
    margin-top: 15px;
}

.introducing_content__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.details_divider__container {
    margin-top: 20px;
}