.transaction_card {
    padding: 10px;
    border-radius: 10px;
    gap: 15px;
    max-height: 50px;
}

.transaction_card_status {
    display: flex;
    padding-top: 0px;
}

.transaction_card_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}