.transaction_card {
    padding: 10px;
    border-radius: 10px;
    gap: 15px;
    max-height: 50px;
}

.transaction_card_status {
    display: flex;
    padding-top: 0px;
}

.transaction_card_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: var(--tg-theme-button-color);
}

.transaction_card_icon {
    width: 25px;
    height: 25px;
}
