.transfer-page__container {
    padding: 10px 20px;
}

.transfer-page__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.transfer-page__title {
    margin-top: 10px;
    text-align: center;
}

.payment-systems-section__container {
    padding-top: 30px;
}
