.rating__container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.rating_form__rating {
    border-color: var(--tg-theme-hint-color);
}

.feedback_form_files__container {
    padding: 0 10px;
}