:root {
  --theme-secondary-bg-color: var(--tg-theme-secondary-bg-color);
  --theme-bg-color: var(--tg-theme-bg-color);
}

body {
  color: var(--tg-theme-text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s
}

@media screen and (min-width: 420px) {
  body {
    background-color: var(--tg-theme-secondary-bg-color);
  }
}

input, textarea {
  background-color: var(--tg-theme-input-bg-color);
  color: var(--tg-theme-input-text-color);
  border: 1px solid var(--tg-theme-secondary-bg-color);
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s
}

input::placeholder, textarea::placeholder {
  color: var(--tg-theme-placeholder-color)
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none
}

::selection {
  background: rgba(0, 132, 255, 0.3)
}

::-webkit-input-placeholder {
  color: var(--tg-theme-placeholder-color)
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--tg-theme-bg-color) inset !important;
  -webkit-text-fill-color: var(--tg-theme-text-color) !important;
  caret-color: var(--tg-theme-text-color)
}

@media screen and (max-width: 400px) {
  html, body {
    -webkit-overflow-scrolling: touch
  }

  #root {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
  }
}

a {
  color: var(--tg-theme-link-color);
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

.transfer__svg {
  fill: var(--tg-theme-link-color)
}

.withdraw__svg {
  fill: var(--tg-theme-link-color)
}

.services__svg {
  fill: var(--tg-theme-link-color)
}

.account__svg {
  fill: var(--tg-theme-link-color)
}