.account_container {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 10px;
}

.main_header__image {
    visibility: hidden;
}


.main_header__image_container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
